html{
    width: 100%;
}

body{
    margin: 0;
    border: solid 1px black;
}

body>header{
    width: 60%;
    height: 170px;
    border: solid 1px black;
    margin-left: 20%;
}

nav>ul li{
    font-size: 1.5em;
    list-style: none;
    display: inline;
    padding-left: 8.8%;
}

header>h1{
    margin-top: 20px;
    display: inline;
    position: absolute;
    
}

#nav-bar{
    width: 60%;
    height: 45px;
    margin-left: 20% ;
    border: solid 1px black;
    top: 0;
}

.-principal{
    width: 60%;
    height: 1500px;

    margin: 25px 20%;

    border: solid 1px black;

}

.-slider{
    position: relative;
    width: 100%;
    height: 250px;
    border-bottom: solid 1px black;
}

.imagem{
    display: none;
}

.anterior, .proximo {
    
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
  }

  .proximo {
    RIGHT: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .anterior:hover, .proximo:hover {
    background-color: rgba(226, 207, 207, 0.8);
  }

  text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .idfoto {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .ponto {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .ponto:hover {
    background-color: #717171;
  }
  
  .efeito {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }